//- 変数一覧
- var title="インセインハンドアウトメイカー"
- var description="インセインのセッション準備に。文章を打ち込むだけで印刷用っぽいハンドアウトを生成！"
- var keywords="TRPG,ホラー,インセイン,ハンドアウト,TRPG支援ツール"

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- 従来型のメタデータ
    meta(name='description', content=description)
    //- 記事のキーワードをカンマで区切る
    meta(name='keywords', content=keywords)
    meta(name='robots', content=robots)
    //- SNSでページが共有された時に表示する用のメタデータ。
    //- サイト名
    meta(name='og:sitename', content=title) 
    //- 言語の種類
    meta(name='og:locale', content="ja_JP") 
    //- タイトル
    meta(name='og:title', content=title) 
    //- 概要
    meta(name='og:description', content=description)
    //- 記事のURL
    meta(name='og:url', content="https://wasureta-d6b34.firebaseapp.com/insane/") 
    //- twitter
    meta(name="twitter:site" content="@hibohiboo")
    //- twittercard（申請必要
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:creator" content="@hibohiboo")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content="https://wasureta-d6b34.firebaseapp.com/insane/assets/images/screenshot.png")
    title=title
    .
      <!-- Google Tag Manager -->
      <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KSBF5JP');</script>
      <!-- End Google Tag Manager -->
  body
    .
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSBF5JP"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    #main 