extends includes/common/layout
//- _layout.pugをベースに作成

//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include includes/rulebook/variables
  title= title

block main
  .container
    h1.center 基本ルールブック
    .section
      h2 プレイヤーセクション
      h3 はじめに
      p 
        | 砂漠の瓦礫の中で目が覚める。意識を失う前とまるで違う世界。
        | これは夢ではないのだと、喉の渇きが訴えていた。
      p 本ゲームは、崩壊後の世界を生きることを選んだ人々を演じるゲームである。
        | プレイヤーの分身であるキャラクター（以下、PC)は、壊れた世界の処分場に放り出される。
        | 生き残れ。
      h4 かっこの種類
      ul 
        li 【】：キャラクターの能力値を表す。
        li 《》：アクションを表す。
        li ＜＞：このゲームで使われる固有名詞を表す。
      h4 端数の処理
      p このゲームでは、割り算を行う場合常に端数は切り上げとする。

      //- キャラクター
      h3 キャラクター
      p キャラクターの作成について。
      h4 名前の設定
      p 名前を決定する。

      h4 【能力値】の決定
      p 【肉体】、【敏捷】、【知覚】、【精神】の4つの能力値を持つ。
      p 20点を割り振ること。最低値は１とする。
      dl.collection
        dt 
          i.material-icons= param_str
        dd 力の強さ、持久力など。体の強さ
        dt 
          i.material-icons= param_dex
        dd 機敏さ、器用さなど。体の使い方
        dt 
          i.material-icons= param_sen
        dd 視力、聴力、観察力など。五感の鋭さ
        dt 
          i.material-icons= param_min
        dd 閃き、知識、精神的タフさなど。頭の使い方
      
      h4 アクションの取得
      p キャラクターは以下の4つの基本アクションを取得している。
      p アクションの成否を求める必要があるときは、各アクションに指定された【能力値】での判定を行う。
      .row
        +actionCard('殴る', 'assets/images/break.png', param_str, 'たたく。 壊す。')
        +actionCard('走る', 'assets/images/run.png', param_dex, '逃げる。急ぐ。')
        +actionCard('調べる', 'assets/images/search.png', param_sen, '隠されたものを見つける。観察する。')
        +actionCard('考える', 'assets/images/think.png', param_min, '閃く。本を調べる。')

      //- 判定
      include includes/rulebook/check
      //- セッションの流れ
      include includes/rulebook/cycle
