extends ../includes/common/layout
//- _layout.pugをベースに作成

//- タイトルのブロック
block title
  //- 最初にこのページで使用する変数を読み込む
  include ../includes/index/variables
  title= title

mixin dlitem(header, item)
  dt.collection-item.col.s6.m4.l2=header
  dd.collection-item.col.s6.m8.l10=item

mixin divitem(key, value)
  .collection-item.col.s6.m4.l2=key
  .collection-item.col.s6.m8.l10=value


mixin card(title)
  .col.s12.m6.l3
    .card
      .card-content
        span.card-title.black-text=title 
        block

mixin card-event(title, scene, description)
  +card(title)
    ul.collection.with-header
      li.collection-header 描写
      li.collection-item
        each item in scene
          p=item
      li.collection-header 解説
      li.collection-item
        p=description
      block

block main
  .container
    h1.center サンプルシナリオ
    h2 目覚め
    dl.collection.row
      +dlitem("傾向", "サバイバル")
      +dlitem("プレイヤー人数", "一人")
      +dlitem("目的", "3サイクルの生存")
    h3 導入フェイズ
    +card-event("オープニング", ["君は目を開けると瓦礫の中に倒れていた。","空は夕焼け色。入道雲の向こうに崩れた城が浮いているように見える。", "身を起こし、周りを見渡すと、灰色の砂漠が一面に広がっている。" ], "PCが目を覚ますシーン。シナリオの傾向と目的を伝えること。")

    h3 探索フェイズ
    h4 エリア1
    .col.s12.m6.l3
      +card-event("エリア1 瓦礫の島", ["砂漠の中、瓦礫が島のようになっている。"], "目覚めの場所。瓦礫から、地下へと続く入り口を見つける。周りは砂ばかりで他に選択肢はない。")
        li.collection-header オブジェクト
        li.collection-item
          p オブジェクト一覧
          .collection.row
            +divitem("灰色の砂漠", "灰色の砂漠")
            +divitem("瓦礫の山", "コンクリートの瓦礫の山")
          p オブジェクト詳細
              
